@import '../common';

.navbar {
  background-color: $bgColor;

  div {
    display: inline-block;
  }

  span {
    color: $darkBgColor;
    font-size: 0.8rem;
    padding: 10px;
    a {
      text-decoration: none;
    }
  }
  .nav-main, .nav-links {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav-links {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: $darkBgColor;
  }
}
